[user]
  name = Lucas BEE
  email = pouulet@gmail.com
[branch]
  autosetupmerge = true
  autosetuprebase = always
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta       = yellow bold
  frag       = magenta bold
  old        = red bold
  new        = green bold
  whitespace = red reverse
[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan
[alias]
  st      = status
  ci      = commit
  br      = branch
  co      = checkout
  df      = diff
  dc      = diff --cached
  lg      = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
  lol     = log --graph --decorate --pretty=oneline --abbrev-commit
  lola    = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls      = ls-files
  pullall = !git pull && git submodule update --init --recursive
  current-branch = rev-parse --abbrev-ref HEAD
  pushbr = !git push --set-upstream origin `git current-branch`
  cpr="!f() { git fetch origin refs/pull/$1/head && git checkout FETCH_HEAD; }; f"
[push]
  default = tracking
[core]
  editor = vim
